doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Kochtopf Boilerplate

		link(rel="stylesheet" href="normalize.css")
		link(rel="stylesheet" href="screen.css")
	body
		include includes/header
		script(src="app.js")